@model OnlineShop.Models.Products

@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Edit Product</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Name" class="form-control" />
                    <input asp-for="Id" type="hidden"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Price" class="control-label"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Image" class="control-label"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="ProductColor" class="control-label"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="ProductColor" class="form-control" />
                    <span asp-validation-for="ProductColor" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="ProductTypeId" class="control-label"></label>
                </div>
                <div class="col-md-9">
                    <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductType"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="SpeciaTagId" class="control-label"></label>
                </div>
                <div class="col-md-9">
                    <select asp-for="SpeciaTagId" class="form-control" asp-items="ViewBag.TagList"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="IsAvailable" class="control-label"></label>
                </div>
                <div class="col-md-9 ">
                    <input asp-for="IsAvailable" type="checkbox" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9 col-md-offset-3">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Back To List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img src="~/@Model.Image" width="100%" style="border: 1px solid #d3d3d3" />
    </div>
</div>
@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
}



